services:
- type: web
  name: v6
  runtime: node
  repo: https://github.com/Glitch-Network/v6
  branch: main
  plan: free
  region: oregon
  buildCommand: yarn
  startCommand: npm run start
  rootDir: ./
version: "1"